<section class="create_visit">
   <div class="create_visit_box">
    <div class="create_visit_select">
        <label class="title_visit" for="doctors-select">Створити візит</label>

        <select name="doctor" id="doctors-select">
          <option value="">Оберіть лікаря</option>
          <option value="cardiologist">Кардіолог</option>
          <option value="dentist">Стоматолог</option>
          <option value="therapist">Терапевт</option>
        </select>
    </div>
    <!-- icon -->
    <div class="create_visit_form">
        <form action="https://ajax.test-danit.com/api/v2/cards" method="POST" >
            <div>
                <input class="cardiologist dentist therapist" type="text" name="purpose_of_the_visit" value="Мета візиту">
            </div>
            <div>
                <input class="cardiologist dentist therapist" type="text" name="brief_description_of_the_visit" value="Короткий опис візиту">
            </div>
            <div class="cardiologist dentist therapist urgency">
                <select name="urgency" id="urgency-select">
                  <option value="">Терміновість</option>
                  <option value="regular">звичайна</option>
                  <option value="priority">пріоритетна</option>
                  <option value="urgent">невідкладна</option>
                </select>
            </div>
            <div>
                <input class="cardiologist dentist therapist" type="text" name="full_name" value="ПІБ">
            </div>
            <div>
                <input class="cardiologist" type="text" name="normal_blood_pressure" value="звичайний тиск">
            </div>
            <div>
                <input class="cardiologist" type="text" name="body_mass_index" value="Індекс маси тіла">
            </div>
            <div>
                <input class="cardiologist" type="text" name="cardiovascular_system" value="перенесені захворювання серцево-судинної системи">
            </div>
            <div>
                <input class="cardiologist" type="text" name="age" value="вік">
            </div>
            <div>
                <input class="dentist" type="text" name="date_of_the_last_visit" value="дата останнього відвідування">
            </div>
            <div>
                <input class="therapist" type="text" name="age" value="вік">
            </div>
    <button class="create_visit_butt" type="button">Створити</button>
   </div>
</section>