*{
    margin: 0;
    padding: 0;
}

.create_visit{
    @include display(flex,center,center);
    flex-direction: column;

}

.create_visit_select{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title_visit{
    @extend %ffM;
    @include fontz(24px,16px,700,#8D81AC);
    text-transform: uppercase;
}

.create_visit_box{
    flex-direction: column;
    @include display(flex,center,center);
    @include size(80%, 50%); 
    border-radius:  2px solid black;
    background-color: rgba(244, 244, 244, 0.346);
    @include marginTB(10%, 10%); 

}

.cardiologist, .dentist, .therapist{
    display: none;

    @include size(450px, 45px); 
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    color: #BEBEBE;
    margin-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

.create_visit_butt{
    @include marginTB(10%, 10%); 

}


