//змінна для шрифтів Montserrat
%ffM{
    font-family: Montserrat;
    text-decoration: none;
    font-style: normal;
}
//змінна для шрифтів Lato
%ffL{
    font-family: Lato;
    text-decoration: none;
    font-style: normal;
}

%ffLl{
    font-family: Lato;
    text-decoration: none;
    font-style: italic;
}


%ffJi{
    font-family: JosefinSans;
    text-decoration: none;
    font-style: italic;
}

%ffJ{
    font-family: JosefinSans;
    text-decoration: none;
    font-style: normal;
}